.skills__container--external {
    width         : 100%;
    padding-bottom: 25px;
}

.skills__container--internal {
    width           : 85%;
    margin          : -60px auto 0;
    background-color: var(--light-color);
    border-radius   : 5px;
    transition      : all 1.5s;
    border          : 3px solid var(--medium-blue-color);
}

.skills__container--internal--visible {
    transform: translate(0, 0);
    opacity  : 1;
}

.skills__container--internal--hidden {
    transform: translate(-125%, 0);
    opacity  : 0;
}

.skills__frontend-icon {
    display        : flex;
    justify-content: center;
    padding        : 25px 0;
}

.skills__frontend-icon img {
    width: 100px;
}

.skills__container--internal h3 {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 6px;
    margin-bottom : 25px;
    font-size     : 22px;
    font-weight   : 600;
    text-align    : center;
    color         : var(--light-red-color);
}

.skills__container--internal h3::after {
    display         : block;
    content         : '';
    width           : 100px;
    height          : 1px;
    background-color: var(--medium-blue-color);
}

.skills__container--internal p {
    text-align : center;
    font-size  : 17px;
    font-weight: 600;
    padding    : 0px 24px;
    color      : var(--dark-blue-color);
}

.skills__bar-graphs {
    display       : flex;
    flex-direction: column;
    gap           : 10px;
    width         : 100%;
    padding       : 45px 20px 30px;
}

@media screen and (min-width: 768px) {
    .skills__container--internal {
        width: 60%;
    }

    .skills__bar-graphs {
        gap: 20px;
    }

    .skills__container--internal h3 {
        font-size: 25px;
    }

    .skills__frontend-icon img {
        width: 120px;
    }

    .skills__container--internal p {
        font-size: 19px;
    }
}

@media screen and (min-width: 1024px) {
    .skills__container--internal {
        width     : 80%;
        margin    : 0 auto 0;
        min-height: 764px;
    }
}

@media screen and (min-width: 1280px) {
    .skills__container--internal {
        width: 70%;
    }
}