.about-me__container {
    width           : 100%;
    padding         : 60px 25px 120px;
    background-color: var(--dark-blue-color);
}

.about-me__welcome-message {
    display       : flex;
    flex-direction: column;
    gap           : 25px;
    transition    : all 1.5s;
}

.about-me__welcome-message h3 {
    font-size  : 20px;
    font-weight: 600;
    color      : var(--light-color);
    text-align : center;
    line-height: 1.125;
}

.about-me__welcome-message p {
    font-size  : 20px;
    color      : var(--light-color);
    text-align : center;
    line-height: 1.6;
}

.profile-text__general {
    transform: translateY(200px);
    opacity: 0;
    transition: all 1500ms;
}

.profile-text__visible {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .about-me__welcome-message {
        max-width: 550px;
        margin: 0 auto;
    }

    .about-me__welcome-message h3 {
        font-size: 24px;
    }

    .about-me__welcome-message p {
        font-size: 22px;
        line-height: 1.8;
    }

    .about-me__container {
        padding-bottom: 110px;
    }

}

@media screen and (min-width: 1024px) {
    .about-me__welcome-message {
        max-width: 650px;
        margin: 0 auto;
    }

    .about-me__container {
        padding-bottom: 150px;
    }

    .about-me__welcome-message p {
        line-height: 2;
    }
}

