.description-text {
    display    : flex;
    text-align : start !important;
    padding    : 0 !important;
    font-size  : 15px !important;
    font-weight: 400 !important;
    transition : all 1000ms;
}

.description-text::before {
    content     : "\2022";
    margin-right: 10px;
}

.description-text-odd {
    transform: translateX(300%);
}

.description-text-even {
    transform: translateX(-300%);
}

.description-visible {
    transform: translateX(0%);
}

@media screen and (min-width: 768px) {
    .description-text {
        font-size: 18px !important;
    }
}