.starting-screen__general-container {
    display            : flex;
    flex-direction     : column;
    width              : 100%;
    height             : 100vh;
    padding            : 10px 15px 0;
    background-image   : url("../../assets/main-page-background.svg");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.starting-screen__name-container {
    position: relative;
    width   : 100%;
    height  : 3%;
}

.starting-screen__name-container h2 {
    font-size: 14px;
    color    : var(--light-color);
}

.starting-screen__welcome-text {
    width      : 100%;
    height     : 34%;
    padding-top: 90px;
}

.starting-screen__welcome-text p {
    max-width  : 338px;
    margin     : 0 auto;
    padding    : 0 5px;
    font-size  : 36px;
    font-weight: 800;
    text-align : center;
    color      : var(--light-red-color);
}

.starting-screen__profile-picture {
    display        : flex;
    flex-direction : column;
    justify-content: flex-end;
    gap            : 90px;
    align-items    : center;
    width          : 100%;
    height         : 40%;
}

.starting-screen__profile-picture--image {
    max-height: 100%;
    transition: all 1.4s;
}

.profile-initial-position {
    transform: translate(-500px, 0);
}

.profile-first-render {
    transform: translate(0, 0);
}


.starting-screen__button-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    height         : 23%;
    transition     : all 1.4s;
}

.button-first-render {
    opacity: 1;
}

.button-inital-render {
    opacity: 0;
}

.starting-screen__button-container button {
    max-height    : 58px;
    position      : relative;
    padding       : 1.2rem 2.8rem 1.2rem 1.8rem;
    outline       : none;
    border        : 1px solid #303030;
    background    : #212121;
    color         : #ae00ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size     : 15px;
    overflow      : hidden;
    transition    : 0.2s;
    border-radius : 20px;
    cursor        : pointer;
    font-weight   : bold;
}

.starting-screen__button-container button p {
    font-size: 15px;
}

.writing__animation {
    font-size: 35px;
    color    : var(--medium-blue-color);
    animation: writing 800ms infinite;
}

.starting-screen__button-container button p::after {
    position : absolute;
    right    : 2px;
    bottom   : 4px;
    content  : url('../../assets/arrow-down-icon.svg');
    animation: bounce 2s infinite;
}

.starting-screen__button-container button:hover {
    box-shadow      : 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.6s;
}

.starting-screen__button-container button span {
    position: absolute;
}

.starting-screen__button-container button span:nth-child(1) {
    top       : 0;
    left      : -100%;
    width     : 100%;
    height    : 2px;
    background: linear-gradient(90deg, transparent, #ae00ff);
}

.starting-screen__button-container button:hover span:nth-child(1) {
    left      : 100%;
    transition: 0.7s;
}

.starting-screen__button-container button span:nth-child(3) {
    bottom    : 0;
    right     : -100%;
    width     : 100%;
    height    : 2px;
    background: linear-gradient(90deg, transparent, #001eff);
}

.starting-screen__button-container button:hover span:nth-child(3) {
    right           : 100%;
    transition      : 0.7s;
    transition-delay: 0.35s;
}

.starting-screen__button-container button span:nth-child(2) {
    top       : -100%;
    right     : 0;
    width     : 2px;
    height    : 100%;
    background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
    top             : 100%;
    transition      : 0.7s;
    transition-delay: 0.17s;
}

button span:nth-child(4) {
    bottom    : -100%;
    left      : 0;
    width     : 2px;
    height    : 100%;
    background: linear-gradient(360deg, transparent, #001eff);
}

.starting-screen__button-container button:hover span:nth-child(4) {
    bottom          : 100%;
    transition      : 0.7s;
    transition-delay: 0.52s;
}

.starting-screen__button-container button:active {
    background: #ae00af;
    background: linear-gradient(to top right, #ae00af, #001eff);
    color     : #bfbfbf;
    box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
    transition: 0.1s;
}

.starting-screen__button-container button:active span:nth-child(1) span:nth-child(2) span:nth-child(2) span:nth-child(2) {
    transition      : none;
    transition-delay: none;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-6px);
    }

    60% {
        transform: translateY(-3px);
    }
}

@keyframes writing {

    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.8;
    }

    20% {
        opacity: 0.6;
    }

    30% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.2;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0.2;
    }

    70% {
        opacity: 0.4;
    }

    80% {
        opacity: 0.6;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1.9;
    }
}