* {
  box-sizing         : border-box;
  font-family        : 'Lato', sans-serif;
  margin             : 0;
  padding            : 0;
  --light-color      : #f1faee;
  --light-blue-color : #a8dadc;
  --medium-blue-color: #457b9d;
  --dark-blue-color  : #1d3557;
  --light-red-color  : #e63946;
}