* {
  box-sizing         : border-box;
  font-family        : 'Lato', sans-serif;
  margin             : 0;
  padding            : 0;
  --light-color      : #f1faee;
  --light-blue-color : #a8dadc;
  --medium-blue-color: #457b9d;
  --dark-blue-color  : #1d3557;
  --light-red-color  : #e63946;
}

.about-me__container {
  width           : 100%;
  padding         : 80px 25px 120px;
  background-color: var(--dark-blue-color);
}

.about-me__welcome-message {
  display       : flex;
  flex-direction: column;
  gap           : 25px;
  opacity: 0;
  transition: all 1.5s;
}

.about-me__welcome-message h3 {
  font-size  : 20px;
  font-weight: 600;
  color      : var(--light-color);
  text-align : center;
  line-height: 1.125;
}

.about-me__welcome-message p {
  font-size  : 20px;
  color      : var(--light-color);
  text-align : center;
  line-height: 1.6;
}

.skills__container--external {
  width: 100%;
  padding-bottom: 25px;
}

.skills__container--internal {
  width           : 85%;
  margin          : -30px auto 0;
  background-color: var(--light-color);
  border-radius   : 5px;
  transform: translate(115%, 0);
}

.skills__frontend-icon {
  display        : flex;
  justify-content: center;
  padding        : 25px 0;
}

.skills__frontend-icon img {
  width: 100px;
}

.skills__container--internal h3 {
  margin-bottom: 15px;
  font-size    : 22px;
  font-weight  : 600;
  text-align   : center;
  color        : var(--light-red-color);
}

.skills__container--internal p {
  text-align: center;
  font-size: 17px;
  padding: 0px 24px;
  color: var(--dark-blue-color);
}

.skills__bar-graphs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 25px 20px;
}