* {
  box-sizing         : border-box;
  font-family        : 'Lato', sans-serif;
  margin             : 0;
  padding            : 0;
  --light-color      : #f1faee;
  --light-blue-color : #a8dadc;
  --medium-blue-color: #457b9d;
  --dark-blue-color  : #1d3557;
  --light-red-color  : #e63946;
}

@media screen and (min-width: 1024px) {
  .skills-job__container {
    display   : flex;
    gap: 100px;
    max-width : 1024px;
    min-height: 764px;
    margin: -60px auto 100px;
  }

  .skills-job__box {
    width: 100%;
  }

  .menus__full-container {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    border-bottom: solid 3px var(--light-red-color);
    z-index: 999;
  }
}